<center>
<br>
<br>
<h1>My Gossip Project</h1>
<br>
<br>
<br>
<br>
<h4>Contact</h4>
<br>
  <div class="card-groups">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"> HENNIN Paul</h5>
        <h4 class="card-text">    Rien a dire</h4>
      </div>
    </div>
<br>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"> LE GUET Jordi</h5>
        <h4 class="card-text">    Rien a dire</h4>
      </div>
    </div>
  </div>
</center>
